<nav class="navbar navbar-expand-sm bg-dark bg-gradient navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa">
        <img src="assets/img/argrprog.png" alt="Avatar Logo" style="width:40px;" class="rounded-pill"> 
      </a>
      <div class="col-lg-9 text-white d-none d-sm-none d-md-block">Argentina Programa #YoProgramo</div>
      <a class="navbar-brand col text-end" href="https://github.com/laureanomarenco">
        <img src="assets/img/github.png" alt="GitHub" style="width:30px;"> 
      </a>
      <a class="navbar-brand col text-end" href="https://www.linkedin.com/in/laureano-marenco-250427108/">
        <img src="assets/img/in.png" alt="LinkedIn" style="width:30px;"> 
      </a>
      <a class="navbar-brand col text-end" href="mailto:laureanomarenco@gmail.com">
        <img src="assets/img/mail.png" alt="Mail" style="width:30px;"> 
      </a>
      <a class="navbar-brand col text-end" href="#">
        <img src="assets/img/login.png" alt="Login" style="width:30px;"> 
      </a>
    </div>
</nav>