<div class="container-lg my-5 ml-2 mr-2 green rounded-2">
    <h2 class="text-white text-left py-2 my-2 mx-4">Proyectos</h2>

    <!-- institucional BAR -->
    <div class="container-fluid">
      <h3 class="text-white text-left mx-4">Spot Audiovisual Institucional para BAR.</h3>
      <div class="text-white mx-4">Spot realizado en equipo de manera Freelance para el Banco de Alimentos de Rosario<br>
        Planificación integral del proyecto. Coordinación de grupo.<br>
        Guion y edición.<br>
        Hecho en 2022<br>
        <button type="button" class="btn-lg btn-primary my-2" href="">Ver</button> 
      </div>
       <br>
    </div>


    <!-- revista -->
    <div class="container-fluid">
      <h3 class="text-white text-left mx-4">Edición y diseño Revista Torrente.</h3>
      <div class="text-white mx-4">Diseño integral de la revista literaria Torrente.<br>
        Planificación integral del proyecto. Coordinación de grupo. Diseño adecuado al cliente.<br>
        Hecho en 2020<br>
        <button type="button" class="btn-lg btn-primary my-2" href="">Ver</button> 
      </div>
       <br>
    </div>
    <!-- diseños para marcas -->
    <div class="container-fluid">
      <h3 class="text-white text-left mx-4">Diseños de logos y piezas para marcas.</h3>
      <div class="text-white mx-4">Diseño gráfico freelance.<br>
        Planificación integral del proyecto. Diseño adecuado al cliente.<br>
        Hechos entre 2017 y 2021.<br>
        <button type="button" class="btn-lg btn-primary my-2" href="">Ver</button> 
      </div>
       <br>
    </div>
  </div>