<div class="bg-dark d-flex justify-content-center">
  <div class="col">
    <div class="col">
      <img
        src="./assets/proyectos/mb.jpg"
        class="w-50 shadow-1-strong rounded mb-4"
        alt="Mountains in the Clouds"
      />
  
      <img
        src="./assets/proyectos/cn.png"
        class="w-50 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
    </div>
    <div class="col">
      <img
        src="./assets/proyectos/LK.png"
        class="w-50 shadow-1-strong rounded mb-4"
        alt="Mountains in the Clouds"
      />
  
      <img
        src="./assets/proyectos/PG.png"
        class="w-50 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
    </div>
</div>
</div>
<app-footer></app-footer>