<div class="bodybg">
  <!-- nav -->
<app-navbar></app-navbar>

  <!-- portada -->
<app-port></app-port>

  <!-- about -->
<app-about></app-about>

  <!-- experience -->
 <app-experience></app-experience>

  <!-- education -->
 <app-education></app-education>

  <!-- skills -->
<app-skills></app-skills>

  <!-- programs and lenguajes-->
 <app-progs></app-progs>

  <!-- projects -->
  <app-projects></app-projects>

  <!-- hobbies -->
<app-hobbies></app-hobbies>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin= "anonymous"></script>
      </div>