<h1 class="bg-dark text-white text-center mb-0 pb-4 pt-20">LogIn</h1>
<form [formGroup]="form">
<div class="bg-dark text-center">
    <div>
        <label for="email" class="text-white pr-2">Email:</label>
        <input type="email" formControlName="mail">
    </div>
    <br>
    <div>
        <label for="exampleInputPassword" class="form-label text-white mr-2">Password:</label>
        <input type="password" formControlName="password">
    </div>
    <br>
    <div>
        <button type="submit">Iniciar Sesión</button>
    </div>
</div>
</form>
<div class="bg-dark container-fluid"><br><br><br><br><br><br><br><br><br>-</div>