<div class="container-lg my-5 ml-2 mr-2 green rounded-2">
    <h2 class="text-white text-left py-2 my-2 mx-4">Hobbies</h2>

    <div class="container-fluid">
      <h3 class="text-white text-left mx-4">Algunas cosas que hago en mi tiempo libre.</h3>
      <div class="text-white mx-4">Fotos raras. Tramas. Colores. Alguna animación.<br>
        Cosas que suelo hacer jugando con programas.<br>
        <button type="button" class="btn-lg btn-primary my-2" href="">Ver</button> 
      </div>
    </div>
  </div>