<div class="mx-2 pb-2 green rounded-2">
    <h2 class="text-white text-left py-2 my-2 mx-4">Educación</h2>
    <div class="container-fluid" *ngFor="let education of educationList">
      <div class="col-1 float-start mx-4">
        <img [src]="education.urlimg" class="d-none d-xl-block d-xll-block rounded-2 imgsize" alt="Municipalidad de Rosario">
       </div>
      <div class="text-white col-11 mb-2 pb-4">{{education.educationname}}<br>
        {{education.description}}<br>
        {{education.other1}}<br>
        {{education.other2}}<br>

    </div>

    </div>
    </div>
  