<div class="container-xxl portbg py-4 hero-header mb-lg-4">
    <div class="container my-lg-5 py-lg-5">
        <div class="row align-items-center g-3">
            <div class="col-lg-6 text-center text-lg-center">
                <h1 class="display-4 text-white animated slideInLeft mt-4">Laureano Marenco</h1>
                <p class="text-white animated slideInLeft mb-4 pb-2">Full-Stack Web Developer <br> Lic. in Social Communication</p>
              </div>
            <div class="col-lg-5 text-center text-lg-end mt-0">
                <img src="assets/img/foto.jpg" class="rounded-circle w-50" alt="Laureano Marenco">
            </div>
        </div>
    </div>
</div>