<div class="container-lg my-5 ml-2 mr-2 green rounded-2">
    <h2 class="text-white text-left py-2 my-2 mx-4">Experience</h2>

    <!-- municipalidad -->
    <div class="container-fluid">
      <div class="col-1 float-start mx-4">
        <img src="assets/img/municipalidad.png" class="d-none d-xl-block d-xll-block rounded-2 imgsize" alt="Municipalidad de Rosario">
       </div>
      <div class="text-white col-11 mb-2 pb-4">Pasantia en el Distrito Sudeoste de la Municipalidad de Rosario. <br>
        Atención al público y gestión de datos personales en la Oficina de Transito.<br>
        Marzo del 2018 a Marzo del 2019<br>
        <i>Referencia: Sebastian Borrelli - Contacto: 341 - 6191630</i><br>
    </div>
    <!-- freelance -->
    <div class="col-1 float-start mx-4">
      <img src="assets/img/freelance.jpg" class="d-none d-xl-block d-xll-block rounded-2 imgsize" alt="Freelance">
     </div>
    <div class="text-white col-11 mb-2 pb-4">Trabajos freelance de diseño gráfico, comunicación y edición.<br>
      Creación de piezas gráficas y logos para marcas. Asesorias en Comunicación. Community Manager. <br>
      Ediciónes de audio, video e imagén.<br>
      Desde 2017 a la actualidad. Para referencias ver proyectos.<br>

  </div>
    </div>
  </div>